.wy-side-nav-search {
    background-color: #eaeaea;
}

.wy-nav-top a {
    color: white !important;
}

div.logo {
    text-align: center;
    margin-bottom: 1em;
}

div.logo img {
    max-height: 5em;
    max-width: 75%;
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

p {
    color: #11337b;
}

li {
    color: #11337b;
}

h1 {
    color: #ea171a;
}

h2 {
    color: #11337b;
}

a {
    color: #9d0406;
}

a:active, a:hover, a:visited {
    color: #cc0000;
}

.toctree-l1 a {
    color: white;
}

.toctree-l1:hover {
    background: #e7f2fa;
    color: #9d0406;
}

.wy-menu-vertical li.current {
    background: #e7f2fa !important;
}

.wy-side-nav-search input[type=text] {
    border-color: #838383;
}

.rst-content blockquote {
    padding: 12px 24px;
    margin-left: 0;
    font-style: italic;
    background-color: #f3f3f3;
    border: 1px solid #cccccc;
}

.rst-content blockquote p {
    position: relative;
    margin-bottom: 1em;
}

.rst-content blockquote p notetitle {
    font-weight: bold;
    display: inline-block;
    margin: -13px -25px;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    color: white;
}

.rst-content blockquote p:first-of-type {
    margin-bottom: 2.5em;
}

.rst-content blockquote p:last-of-type {
    margin-bottom: 0;
}

.wy-nav-side {
    background: #08408e !important;
}

.wy-nav-content {
    max-width: 100% !important; 
}