antlr4-python3-runtime==4.7.1
boto3==1.9.86
GitPython==2.1.11
pymongo==3.7.2
pytest==4.0.1
pytest-cov==2.6.0
pytest-mock==1.10.0
python-dateutil==2.7.5
requests==2.20.1
ply==3.10
pyhcl==0.3.10
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
oauth2client==4.1.3
